#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.app {
  min-height: 50rem;
  border: 3px solid #999;
  border-radius: 10px;
}

.products {
  row-gap: 3rem;
  padding: 3rem 0;
}

.products li {
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: center;
}

.out-of-stock {
  filter: grayscale(100%);
  opacity: 0.5;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
